.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}
@media screen and (max-width: 530px) {
  .todo-app {
    width: 375px;
  }
}
@media screen and (max-width: 350px) {
  .todo-app {
    width: 280px;
  }
}

h1 {
  margin: 35px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 72%;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #5d0cff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  padding: 16px 22px;
}

@media screen and (max-width: 530px) {
  .todo-input.edit {
    border: 2px solid #5d0cff;
    padding: 13px 31px 13px 15px;
  }
  .todo-button.edit {
    padding: 15px;
  }
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

.done-icon {
  margin-left: 5px;
  color: #fff;
}

.filters {
  display: flex;
  justify-content: space-evenly;
  background: #161a2b;
  border: 2px solid #5d0cff;
  border-radius: 4px;
  margin-bottom: 15px;
  width: 75%;
  align-self: center;
}
.filters-button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #161a2b;
  border: none;
  color: #fff;
  outline: none;
  text-align: center;
  width: 33%;
  padding: 10px;
  margin: 0;
}
@media screen and (max-width: 530px) {
  .filters-button {
    font-size: 10px;
  }
}
.filters-button:hover {
  background: linear-gradient(
    90deg,
    rgb(108, 38, 247) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  opacity: 0.9;
  transform: scale(0.97);
}
.active-filter {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  color: #fff;
  outline: none;
  text-align: center;
  width: 33.3%;
  padding: 10px;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  margin: 0;
  outline: 0;
}
@media screen and (max-width: 530px) {
  .active-filter {
    font-size: 10px;
  }
}
